<div class="users-container">

<!-- Header -->

<div class="page-header">

<div class="left">

<button
class="back-btn"
type="button"
routerLink="/dashboard">

← Back

</button>

<h2>👥 Manage Users</h2>

</div>

</div>



<!-- SEARCH + ACTIONS -->
<!-- TOP ACTIONS -->

<div class="top-actions">

<div class="search-box">

<input
type="text"
placeholder="🔍 Search user..."
[(ngModel)]="searchText"
name="searchUser"
/>

</div>


<div class="right-actions">

<button
class="add-btn"
(click)="openPopup()">

➕ Add User

</button>


<button
class="excel-btn"
(click)="exportToExcel()">

📗 Export To Excel

</button>

</div>

</div>



<!-- POPUP -->

<div
class="popup-overlay"
*ngIf="showPopup">

<div class="popup-box">

<div class="popup-header">

<h2>

{{isEdit
?
'✏ Update User'
:
'➕ Add User'}}

</h2>


<button
class="close-btn"
(click)="closePopup()">

✖

</button>

</div>


<div class="form-box">

<input
type="text"
placeholder="Enter Name"
[(ngModel)]="user.name"
name="name">

<input
type="email"
placeholder="Enter Email"
[(ngModel)]="user.email"
name="email">

<input
type="password"
placeholder="Enter Password"
[(ngModel)]="user.password"
name="password"
autocomplete="new-password"
[ngModelOptions]="{standalone:true}"
/>

<select
[(ngModel)]="user.role"
name="role">

<option value="">
Select Role
</option>

<option value="User">
User
</option>

<option value="Admin">
Admin
</option>

</select>

</div>


<div class="popup-footer">

<button
class="save-btn"
(click)="saveUser()">

{{isEdit
?
'Update User'
:
'Save User'}}

</button>

</div>

</div>

</div>



<!-- Loader -->

<div
*ngIf="loading"
class="loader-container">

<div class="loader"></div>

<p>Loading data...</p>

</div>



<!-- TABLE -->

<div
class="table-box"
*ngIf="!loading">

<table>

<thead>

<tr>

<th>Sr.No</th>
<th>Name</th>
<th>Email</th>
<th>Role</th>
<th>Action</th>

</tr>

</thead>

<tbody>

<tr
*ngFor="
let u of filteredUsers();
let i=index
">

<td>{{i+1}}</td>

<td>{{u.name}}</td>

<td>{{u.email}}</td>

<td>

<span
[ngClass]="
u.role=='Admin'
?
'admin'
:
'user'
">

{{u.role}}

</span>

</td>

<td class="action-column">

<button
class="edit-btn"
(click)="editUser(u)">

✏️

</button>


<button
class="delete-btn"
(click)="deleteUser(u.userId)">

🗑️

</button>

</td>

</tr>

</tbody>

</table>

</div>

</div>