
<div class="card-container">

  <div class="card blue">
    <h3>Total Users</h3>
    <h2>{{dashboard.totalUsers}}</h2>
  </div>

  <div class="card green">
    <h3>Present Today</h3>
    <h2>{{dashboard.presentToday}}</h2>
  </div>

  <div class="card red">
    <h3>Absent Today</h3>
    <h2>{{dashboard?.absentToday}}</h2>
  </div>

  <!-- NEW -->
 <div class="card orange">
  <h3>Late Entry</h3>
  <h2>{{dashboard?.lateCount}}</h2>
</div>

<div class="card purple">
  <h3>Working Hours</h3>
  <h2>{{dashboard?.workingHoursToday}}</h2>
</div>

</div>

<div class="action-row">

<button
class="back-btn"
(click)="goDashboard()">

← Back

</button>

<div class="attendance-actions">

<button class="checkin-btn" (click)="checkIn()">
✓ Check In
</button>

<button class="checkout-btn" (click)="checkOut()">
✕ Check Out
</button>

<button
class="btn btn-success"
(click)="openMonthlyHours()">

📊 Monthly Hours

</button>

</div>

</div>

<div class="top-actions">

<div class="search-box">

<input
type="text"
placeholder="🔍 Search by Name or Date..."
[(ngModel)]="searchText">

</div>

<button
class="export-btn"
(click)="exportAttendanceExcel()">

📗 Export To Excel

</button>

</div>

<!-- Table -->
<table class="table">
  <thead>
    <tr>
      <th>Sr.No</th>
      <th>Name</th>
      <th>Email</th>
      <th>Date</th>
      <th>Check-In</th>
      <th>Check-Out</th>
      <th>Working Hours</th> 
<th>Status</th>
    </tr>
  </thead>

 <tbody>

<tr *ngFor="let item of paginatedData; let i=index">

<td>
{{ ((currentPage-1)*pageSize)+i+1 }}
</td>

<td>{{item.name}}</td>

<td>{{item.email}}</td>

<td>
{{item.date | date:'MMM d, y'}}
</td>

<td>

{{item.checkInTime
?
(item.checkInTime | date:'shortTime')
:
'--'}}

</td>

<td>

{{item.checkOutTime
?
(item.checkOutTime | date:'shortTime')
:
'--'}}

</td>

<td>

{{item.workingHours || '--'}}

</td>
<td>

<span
[ngClass]="{

'late':
item.status=='Late',

'ontime':
item.status=='Present'
||
item.status=='On Time',

'absent':
item.status=='Absent',

'halfday':
item.status=='Half Day'

}">

<td class="status-cell">

<span
class="status-badge"

[ngClass]="{

'ontime': item.status=='On Time',

'late': item.status=='Late Entry',

'absent': item.status=='Absent',

'halfday': item.status=='Half Day'

}">

{{item.status}}

</span>

</td>

</span>

</td>
</tr>


<tr *ngIf="paginatedData.length==0">

<td colspan="8">

No Records Found ❌

</td>

</tr>

</tbody>
</table>
<div class="pagination">

<button
(click)="prevPage()">

⬅ Prev

</button>

<span>

Page
{{currentPage}}
of
{{totalPages}}

</span>

<button
(click)="nextPage()">

Next ➡

</button>

</div>